
.shadow {
    text-shadow: 5px 5px 5px grey;
}

.h1 {
    display: block;
    font-size:;;
}

.red-box {
    width: 150px;
    height: 150px;
    background-color: lightblue;
    border: 3px solidblue;
}